<nav class="navbar bg-dark">
    <ul>
        <li routerLinkActive = "active">
            <a href="#">Mobile</a>
        </li>
        <li routerLinkActive = "active">
            <a href="#">Laptop</a>
        </li>
        <li routerLinkActive = "active">
            <a href="#">Notebook</a>
        </li>
        <li routerLinkActive = "active">
            <a href="#">Photos</a>
        </li>

        <li routerLinkActive = "active">
            <a href="#">My Order</a>
        </li>
        
    </ul>
</nav>
<router-outlet></router-outlet>
